<div class="radio-container">
<!-- radio with meals before bedtime -->
    <fieldset>
      <legend>Have you eaten heavy meals 1 hour or less before bedtime?</legend>
      <input type="radio" id="meals-yes" name="meals" value="yes" />
      <label for="meals-yes">Yes</label>
      <input type="radio" id="meals-no" name="meals" value="no" checked />
      <label for="meals-no">No</label>
    </fieldset>
    <br /><br />

<!-- radio with exposure to blue light -->
    <fieldset>
      <legend>Did you use your phone or any other device emitting blue light right before trying to fall asleep?</legend>
      <input type="radio" id="fasleep-yes" name="fasleep" value="yes" />
      <label for="fasleep-yes">Yes</label>
      <input type="radio" id="fasleep-no" name="fasleep" value="no" checked />
      <label for="fasleep-no">No</label>
    </fieldset>
    <br />
</div>