.main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #dddddd;
  background-color: #555868;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}