.date-container {
  text-align: center;
}
label {
  margin-right: 10px;
}
input {
  color: #555868;
  background-color: #dddddd;
  border: none;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}