/* Sekcje */
section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}

.top-section {
  text-align: center;
  padding: 100px;
  max-width: 500px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.box h2 {
  text-align: center;
}

.box,
.top-section {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.sleep-input,
.status-today,
.sleep-hygiene-tips {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  background-color: #707386;
  border-radius: 8px;
}

.sleep-hygiene-tips ul {
  list-style-type: disc;
  padding-left: 20px;
}

.status-today,
.sleep-hygiene-tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

/* Button */ 
button[type="submit"] { 
  background-color: #404350; 
  color: #a3bffa; 
  border: 1px solid #a3bffa; 
  border-radius: 6px; 
  padding: 10px 24px; 
  font-size: 1em; 
  cursor: pointer; 
  transition: background 0.2s, color 0.2s; 
  width: 100%; 
} 
button[type="submit"]:hover { 
  background-color: #a3bffa; 
  color: #404350; 
}