.notes-container {
  /* width: 100%; */
  /* border: 1px solid red; */
}
label {
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #a3bffa;
  border-radius: 6px;
  background-color: #555868;
  color: #dddddd;
  font-size: 1em;
  box-sizing: border-box;
}